#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
.*
*.*~
*.py~
*.pyc
*.txt
trash/*
trash
*.png
*.svg
*.dot
*.o
*.os
*.so
*.eps
*~
*.log
*.tap
test_experimental.py
MANIFEST

version.py

SConstruct

dist
build
report


# exceptions
!.gitignore
